.me {
  float: right;
  text-align: left;
  clear: both;
  margin-right: 10px;
}

.me p {
  float: right;
  text-align: left;
}

.me div {
  width: auto;
  float: right;
  text-align: left;
}

.me .msg {
  width: 100%;
  clear: both;
  background-color: rgb(204, 228, 252) !important;
}

.friend {
  text-align: left;
  clear: both;
}

.messages {
  padding: 5px;
}

.messages .timer {
  font-size: 12px;
  margin-top: 2px;
  margin-bottom: 0;
  color: white;
}

.messages p {
  margin-bottom: 2px;
  margin-top: 2px;
  font-size: 14px;
}

.messages .name {
  color: rgb(24, 142, 247);
}

.messages .msg {
  color: rgb(0, 0, 0);
  border-radius: 5px;
  padding: 5px 5px 5px 5px;
  background-color: rgb(222, 224, 227);
  width: auto;
  max-width: 80%;
  display: inline-block !important;
  word-break: break-all;
}

.time-instruction {
  white-space: pre-line;
}

#messageList {
  height: 600px;
  overflow: auto;
}

.mint-popup-right {
  top: 50%;
  right: 0;
  bottom: auto;
  left: auto;
  /* transform: translate3d(0, -50%, 0); */
  width: 100%;
  height: 100%;
}

.page-tabbar {
  overflow: hidden;
  height: 100vh;
}

.page-wrap {
  overflow: auto;
  height: 100%;
  padding-bottom: 100px;
}


.chatList {
  margin: 5px;
  border-bottom: 1px solid rgb(200, 224, 248);
}

.newMsg {
  margin-bottom: 2px;
  margin-top: 2px;
  font-size: 14px;
  color: rgb(200, 224, 248);
}

/* notice css */
.notice-list {
  margin: 5px;
  border-bottom: 1px solid rgb(200, 224, 248);
}

.my-button {
  border-radius: 5px;
  font-size: 12px;
  height: 35px;
}

.my-form {
  border-radius: 5;
}

.my-form-item {
  margin-left: 20px;
  margin-right: 20px;
  text-align: right;
}

.my-form-item-border {
  border-bottom: 1px solid red;
}